.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 0;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0 0 4px 4px;
  transform: translate(-50%);
}

.fixed {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}